<header class="header sticky top-0 text-white bg-[#2e5691]">
  <div class="wrapper container mx-auto p-4 sm:p-2 lg:p-1">
    <figure class="logo"></figure>
    <nav class="nav">
      <div class="perfil flex hidden items-center justify-end gap-2 lg:flex">
        <figure class="perfil-image relative">
          <img src="perfil.webp" class="aspect-square size-12 rounded-full border-2 border-green-500" alt="imagen perfil user" />
          <div class="ball absolute right-0 bottom-1 size-3 rounded-full bg-green-500" aria-hidden="true"></div>
        </figure>
        <div class="perfil-data flex flex-col items-start justify-center">
          <small class="perfil-name md:text-md block text-sm font-extrabold lg:text-lg"> Juan Carlos Morales</small>
          <small class="perfil-actitvity md:text-md block text-sm font-medium lg:text-lg"> Agente</small>
        </div>
      </div>
      <button id="btn-menu" class="btn-menu lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu">
          <path d="M4 12h16" />
          <path d="M4 18h16" />
          <path d="M4 6h16" />
        </svg>
      </button>
    </nav>
  </div>
</header>
