/* You can add global styles to this file, and also import other style files */
@use '@fontsource-variable/onest';
@use "primeicons/primeicons.css";
@plugin 'tailwindcss-primeui';
@layer tailwind, primeng;

@layer tailwind {
  @import "tailwindcss";
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-negro : #1a1a1a;
        --color-blanco: #ececec;
    }
}

body{
  font-family: 'Onest Variable', sans-serif;;
}

:where(table) {
    width          : 100%;
    border-spacing : 0;
}

:where(th, td) {
    text-align: left;
}