<footer >
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 bg-blue-300  gap-4  p-4 ">
    <div class="flex flex-row sm:justify-center lg:justify-start sm:justify-self-center md:justify-self-center  lg:justify-self-start justify-self-center ">
      <p class="self-center text-sm md:text-lg text-black font-bold">© 2025 MiEmpresa. Todos los derechos reservados.</p>
    </div>
    <div class="flex flex-row gap-4 sm:justify-center md:justify-center lg:justify-end sm:justify-self-center md:justify-self-center  lg:justify-self-end justify-self-center ">
      <div class="flex flex-cols gap-2">
        <app-icons-whatsapp />
        <div class="self-center">
            <p class="text-sm md:text-lg text-black font-bold">Contactos</p>
            <p class="text-sm md:text-lg text-black font-bold">Empresa</p>
        </div>
      </div>
      <div class="flex flex-cols">
        <app-icons-support />
        <div class="self-center">
            <p class="text-sm md:text-lg text-black font-bold">Soporte tecnico</p>
            <p class="text-sm md:text-lg text-black font-bold">soporte&#64;hotmail.com</p>
        </div>
      </div>
    </div>
  </div>
</footer>
